<article class="card mt-3">
  <div class="card-body">
    <h3><%= link_to post.title, format_url(post.url), class: 'card-title' %></h3>
    <%= render post.categories %>
    <p class="card-text"><%= post.description %></p>
    <span class="text-muted">posted by: <%= post.creator.username %></span>
    <br/>
    <small class="text-muted">
      on: <%= post.created_at.to_formatted_s(:month_day_year) %>
    </small>
    <br/>
    <%= link_to("#{post.comments.size} comments", post_path(post)) %>
  </div>
</article>
