<div class="d-flex align-items-center">
  <div class="card flex-grow-0 m-3">
    <div
      class="card-body d-flex flex-column justify-content-center align-items-center"
    >
      <% unless unauthorized? %>
        <%= link_to vote_post_path(post, vote: true), method: :post do %>
          <i class="far fa-thumbs-up fa-lg"></i>
        <% end %>
      <% end %>
      <span>
        <%= post.total_votes %> <%= 'vote'.pluralize post.total_votes %>
      </span>
      <% unless unauthorized? %>
        <%= link_to vote_post_path(post, vote: false), method: :post do %>
          <i class="far fa-thumbs-down fa-lg"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <article class="card mt-3 flex-grow-1">
    <div class="card-body">
      <h3><%= link_to post.title, format_url(post.url), class: 'card-title' %></h3>
      <%= render post.categories %>
      <p class="card-text"><%= post.description %></p>
      <span class="text-muted">posted by: <%= post.creator.username %></span>
      <br/>
      <small class="text-muted">
        on: <%= post.created_at.to_formatted_s(:month_day_year) %>
      </small>
      <br/>
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
    </div>
  </article>

</div>
