<article class="row card">
  <div class="card-body">
    <h3><%= link_to post.title, post.url, class: 'card-title' %></h3>
    <%= render post.categories %>
    <p class="card-text"><%= post.description %></p>
    <span class="text-muted">posted by: <%= post.creator.username %></span>
    <br/>
    <small class="text-muted">at: <%= post.created_at %></small>
    <br/>
    <%= link_to("#{post.comments.size} comments", post_path(post)) %>
  </div>
</article>
