<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Postit</title>
  </head>

  <body>
  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <div id="main" role="main">
    <div class="container m-auto">
      <div class="row">
        <div class="col-12">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
      <footer>
      </footer>
    </div> <!--! end of .container -->
  </div> <!--! end of #main -->
  </body>
</html>
